.about {
	margin: 0 1em;
	padding-top: 4em;
	background-color: inherit;
	color: inherit;
}

.about__title {
	text-align: center;
	font-size: var(--fs-h2);
}

.about__text {
	padding: 0 1em;
	font-size: var(--fs-body);
}

.about__text--phrase {
	font-size: var(--fs-h3);
	text-align: center;
	margin-top: 2em;
}

.about__specialties--container {
	margin: 0 1em;
	padding-top: 2em;
}

.about__specialties--title-left,
.about__specialties--title-right {
	text-align: center;
	/* font-size: var(--fs-h3); */
	font-weight: bold;
}

@media (min-width: 715px) {
	.about {
		min-height: 100vh;
	}

	.about__container {
		padding: 2rem;
	}

	.about__specialties--container {
		width: 80%;
		margin: 0 auto;
	}
}

@media (min-width: 1450px) {
	.about__specialties--container {
		display: grid;
		grid-template-columns: 49% 2% 49%;
	}

	.about__text{
		max-width: 75%;
		margin: 0 auto;
		margin-bottom: 3rem;
		text-align: justify;
	}

	.about__specialties--left {
		grid-column: 0/1;
	}

	.about__specialties--left,
	.about__specialties--right {
		margin: 0 3em;
		padding: 0;
		display: grid;
		grid-template-rows: 80px auto;
	}

	.about__specialties--title-left,
	.about__specialties--title-right  {
		grid-row: 0/1;
	}

	.about__text p {
		font-size: var(--fs-h3);
	}

	.about__line {
		width: 2px;
		height: 65vh;
		margin-right: 10px;
		background-color: var(--clr-accent);
	}
}
