.intro {
    position: relative;
    background-color: inherit;
    color: inherit;

    margin-top: 3.5em;
    padding-top: 2em;
    background-image: url("/images/computer.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__container {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 2em;
}

.intro__title--first,
.intro__title--last {
    font-size: var(--fs-h1);
    padding-left: 0.5em;
    color: var(--clr-light);
}
.intro__subtitle {
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    text-transform: uppercase;
    color: var(--clr-accent);
    text-shadow: -0.5px 0 var(--clr-light), 0 0.5px var(--clr-light),
        0.5px 0 var(--clr-light), 0 -0.8px var(--clr-light);
}

.intro__img {
    box-shadow: var(--box-shadow);
    border-radius: 15%;
}

@media (min-width: 800px) {
    .intro {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro__container {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 500px;
        min-width: 80%;
        margin: 0 auto;
    }

    .intro__titles {
        grid-column: 1 / 2;
        display: grid;
        grid-template-rows: repeat(3, 100px);
        justify-self: flex-end;
    }

    .intro__img {
        min-width: 300px;
        height: 650px;
        grid-column: 2 / 3;
        margin-top: -7em;
    }

    .intro__title--first {
        grid-row: 1 / 2;
        text-align: left;
        align-self: end;
        margin: 0;
        padding: 0;
    }
    .intro__title--last {
        grid-row: 2 / 3;
        text-align: center;
        height: max-content;
    }

    .intro__subtitle {
        grid-row: 3 / 4;
        text-align: left;
        align-self: end;
    }
}
