.intro {
    position: relative;
    background-color: inherit;
    color: inherit;
    width: 70%;
    margin: 0 auto;
    margin-top: 3.5em;
    padding-top: 2em;
}

.intro__title--first,
.intro__title--last {
    font-size: var(--fs-h1);
    padding-left: 0.5em;
}
.intro__subtitle {
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    text-transform: uppercase;
    color: var(--clr-accent);
    padding-left: 1em;
}

.intro__img {
    box-shadow: var(--box-shadow);
    border-radius: 15%;
}

@media (min-width: 600px) {
    .intro {
        width: 70%;
        height: 100vh;
        margin: 10em auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        /* grid-template-areas:
            "title1 img"
            "title2 img"
            "subtitle img";
        grid-template-rows: repeat(3, 220px);
        grid-gap: 1em; */
    }

    .intro__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 500px;
        min-width: 80%;
    }

    .intro__titles {
        grid-column: 1 / 2;
        display: grid;
        grid-template-rows: repeat(3, 100px);
        object-fit: cover;
    }

    .intro__img {
        /* grid-area: img;
        height: 80%;
        min-width: 250px;
        position: relative; */
        min-width: 300px;
        height: 650px;
        grid-column: 2 / 3;
        margin-top: -7em;
    }

    .intro__title--first {
        /* grid-area: title1;
        align-self: end;
        text-align: left;
        margin-left: 50px;
        margin-bottom: -10px; */
        grid-row: 1 / 2;
        text-align: left;
        align-self: end;
        margin: 0;
    }
    .intro__title--last {
        /* grid-area: title2;
        text-align: right; */
        grid-row: 2 / 3;
        text-align: center;
        height: max-content;
    }

    .intro__subtitle {
        /* grid-area: subtitle;
        align-self: start;
        text-align: center;
        margin-top: -100px; */
        grid-row: 3 / 4;
        text-align: left;
        align-self: end;
        margin-left: 15%;
    }
}
