.project-card__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 1em auto;
}

.project-card__each {
    margin: 3em 1.5em;
    max-width: 350px;
    height: 200px;
    box-shadow: var(--box-shadow);
}

.project-card__img {
    width: 100%;
    height: 100%;
    /** how to the resize of the image should be done within its container - Cover will cut off the sides, preserve the aspect ration and fill in the space */
    object-fit: cover;                  
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-card__figcaption {
    /** make the figcaption visible. If hidden, the element will still take up the space on the page */
    visibility: visible;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1d1d1dd0;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: var(--box-shadow);
}

.project-card__name {
    color: var(--clr-light);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    margin: 4px auto;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: var(--clr-accent);
}

.project-card__sites {
    display: block;
}

.project-card__url,
.project-card__code {
    color: var(--clr-light);
    display: inline;
    margin: 15px;
}

@media (min-width: 800px) {
    .project-card__each {
        margin: 3em 1em;
        max-width: 350px;
        min-width: 230px;
        height: 200px;
        overflow: hidden;
        position: relative;
        text-align: center;
        transition: all 0.35s ease;
        border-radius: 3%;
        box-shadow: var(--box-shadow);
    }
    /** create the side shadows */
    .project-card__each:before,
    .project-card__each:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        background-color: #1d1d1d;
        content: "";
        opacity: 0.85;
        z-index: 1;
    }

    /** make them triangular and set to the side */
    .project-card__each:before {
        transform: skew(45deg) translateX(-180%);
    }

    .project-card__each:after {
        transform: skew(45deg) translateX(180%);
    }

    .project-card__img {
        max-width: 100%;
        /** makes the image aligns vertically with the top of the tallest element on the line */
        vertical-align: top;
    }

    .project-card__figcaption {
        visibility: hidden;
        width: 90%;
        display: inline-block;
        background-color: transparent;
        box-shadow: none;
    }

    .project-card__each:hover .project-card__figcaption,
    .project-card__each:focus .project-card__figcaption {
        visibility: visible;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 1;
    }

    .project-card__each:hover:before {
        transform: skew(45deg) translateX(-49.9%);
    }

    .project-card__each:hover:after {
        transform: skew(45deg) translateX(50%);
    }

    .project-card__figcaption:hover {
        transform: scale(1.5);
        opacity: 1;
    }

    .project-card__name {
        color: var(--clr-light);
        font-size: var(--fs-h3);
        font-weight: var(--fw-bold);
    }

    .project-card__url,
    .project-card__code {
        display: block;
        margin: 10px auto;
        color: var(--clr-light);
    }
}
