.projects {
    padding: 4em 2em 2em;
    min-height: 100vh;
    /* background-image: url("/images/computer.png"); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects__title {
    font-size: var(--fs-h2);
    text-align: center;
    margin-bottom: 1em;
    color: var(--clr-light);
}
